


<%
    cpt = 0
    img_id = 0
    size_index_array      = [0,1,2,0]

    height_array    = [1, 2, 3]
    width_array     = [1, 2, 3]
%>

<%= stylesheet_link_tag    "jquery.gridster.css", :media => "all" %>
<%= stylesheet_link_tag    "gridster_style.css", :media => "all" %>

<h3 xmlns="http://www.w3.org/1999/html">Réalisations</h3>

<div class="gridster">
    <ul>
    <% @pictures.each do |picture| %>
        <% index = size_index_array[cpt%size_index_array.length] %>

        <li class="gridster-item" data-row="1" data-col="1" data-sizex="<%= width_array[index] %>" data-sizey="<%= height_array[index] %>">
            <div class="gridster-item-border">
                <%= image_tag(picture.url, :id => img_id, :onclick => "display_modal_picture('"+picture.url+"');", :class => "image", :alt => "Edit Entry") %>
            </div>
        </li>

        <%
           cpt = cpt+1
           img_id = img_id+1
        %>

    <% end %>

        <% @pictures.each do |picture| %>
            <% index = size_index_array[cpt%size_index_array.length] %>

            <li class="gridster-item" data-row="1" data-col="1" data-sizex="<%= width_array[index] %>" data-sizey="<%= height_array[index] %>">
                <div class="gridster-item-border">
                    <%= image_tag(picture.url, :id => img_id, :onclick => "display_modal_picture('"+picture.url+"');", :class => "image", :alt => "Edit Entry") %>
                </div>
            </li>

            <%
               cpt = cpt+1
               img_id = img_id+1
            %>

        <% end %>
    </ul>
</div>


<%= javascript_include_tag "jquery.gridster.min.js" %>
<%= javascript_include_tag "jquery.foundation.reveal" %>

<script type="text/javascript">

    var gridster_innerhtml = "";

    $(function(){ //DOM Ready

        gridster_innerhtml = $(".gridster")[0].innerHTML;

        refreshGridster();
    });

    var gridster_lock = false;

    function fadeOutGridster(time) {
        $(".gridster ul").fadeOut(time);
    }

    function fadeInGridster(time) {
        $(".gridster ul").fadeIn(time);
    }

    function displayGridster(hidden, call_count, time) {

        if(!time) {
            time = 500;
        }

        console.log("try:"+call_count+"?="+gridster_refresh_count);

        if(hidden) {
            fadeOutGridster(time+10);
        }

        setTimeout(function() {
            if(hidden) {

                if(call_count != gridster_refresh_count) {
                    console.log("aborted "+call_count+"!="+gridster_refresh_count);
                    return;
                }


                console.log("success "+call_count+"="+gridster_refresh_count);
                console.log("resized");

                $(".gridster")[0].innerHTML = gridster_innerhtml;


                var base_dimension = 140;
                var nb_col = Math.floor($($(".gridster")[0]).width()/(base_dimension+20));
                var margin = ($($(".gridster")[0]).width() - nb_col * (base_dimension+20)) /2;
                var corrected_base_dimension = Math.floor(base_dimension + 2*margin/nb_col);

//                console.log(nb_col);
                console.log(base_dimension);
                console.log(corrected_base_dimension);
//                console.log(margin);

                //$($(".gridster")[0]).css("marginLeft", margin);

                $(".gridster ul").gridster({
                    widget_margins: [10, 10],
                    min_cols: nb_col,
                    max_size_x: nb_col,
                    widget_base_dimensions: [corrected_base_dimension, corrected_base_dimension]
                });

                fadeInGridster(time);
                concurrent_gridster_lock = false;
            }
        }, time);
    }

    var gridster_refresh_count = 0;

    function refreshGridster() {

        if(gridster_refresh_count == 0) {
            fadeOutGridster(10);

        }

        gridster_refresh_count++;

        var call_count = gridster_refresh_count;


        displayGridster(true, call_count);
    }

    var resize_lock = false;

    $(window).resize(function() {

        refreshGridster();
        console.log("resize");
    });
</script>

<script>

    function display_modal_picture(url) {
        $("#picture-modal")[0].innerHTML = "<img style=\"max-height: 100%; max-width: 100%; width: 500px;\" src="+url+"/>";
        $("#picture-modal").reveal();

    }

    $(function(){
        setActiveNaveTab("#nav_pictures")
    });
</script>

<div id="picture-modal" class="reveal-modal">
    The picture modal.
</div>